body {
    background-color: white;
    font-style: "Gayathri", sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    align-content: center;
    margin-bottom: 25px;
}
/* DL Williams Logo */
#header {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: -45px;
}
/* TEXT INSIDE NAVBAR */
.container {
    text-align: center

}
/* NAVBAR */
ul {
    list-style-type: none;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    overflow: hidden;
    background-color: lightgrey;
    border: 3px black solid;
    outline: 1px blue solid;
}
li {
    display: inline-block;
    padding: 5px;
    font-size: 1.3rem;
    font-family: 'Gayathri', sans-serif;
    letter-spacing: 2px;
}
/* ADJUSTING THE NAVBAR TERMS */
li a {
    display: block;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 90px;
    padding-left: 90px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
    color: white;
}
#about {
    color: blue;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    font-size: 1.5rem;

}
/* Text: Insurance and Bonds */
p {
    text-align: center;
    font-size: 2rem;
}
/* Horizontal Line formatting */
hr {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 100%;

}
/* Text: Biography */
#bio {
    color: darkblue;
}
#car {
    border-radius: 50%;
    border: 1px blue solid;

}
figcaption {
    text-align: center;

}
/* ALL THE PHOTOS ON THE MAIN PAGE  */
#health, #commercial, #homeowners, #condo, #boat, #motorcycle {
    border-radius: 50%;
    border: 1px blue solid;
}
#partners {
    font-size: 1.8rem;
    color: blue;
}
/* IMAGES: PARTNERS WITH DL WILLIAMS INS. */
#hartford {
    width: 10%;
    height: auto;
}
#philadelphia {
    width: 10%;
    height: auto;

}
#americanModern {
    width: 7%;
    height: auto;

}
#hallmark {
    width: 25%;
    height: auto;

}
#progressive {
    width: 20%;
    height: auto;

}
#employers {
    width: 15%;
    height: auto;

}
#metlife {
    width: 15%;
    height: auto;

}
#nationwide {
    width: 20%;
    height: auto;

}
#travelers {
    width: 20%;
    height: auto;

}
#map {
    width: 50%;
    height: auto;
    border: 1px blue solid;
    outline: 1px black solid;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;

}
#footer {
    font-size: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
}
/* BACK TO TOP BUTTON */
#backToTop {
    font-size: 1rem;
    color: blue;
    text-align: left;
    text-decoration: none;
    margin-left: 0%;
    margin-right: 80%;

}